html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Sans-Serif;
}

p {
    margin: 1rem;
}

audit {
    font-family: Verdana,Sans-Serif;
    font-size: 2rem;
}

.imageHolder {
    margin: 1rem;
}
