html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Sans-Serif;
}

p {
    margin: 1rem;
}

ul {
	list-style-type: none;
}

.audit {
    font-size: 1.6rem;
}

.imageHolder {
    margin: 1rem;
}

.button {
	margin: 1rem;
}

.carouselImage {
	height: 280px;
	width: 377px;
}

.your-class {
	margin-top: 2rem;
}

.centeredText {
	text-align: center;
}

.headerImage{
	background-color: #005AAf;
}

.row {
	margin-top: 1.5rem;
}